@import "mediaQuery";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(16, 16, 16);
    padding: 0 3rem;

    &__logo {
        transform: translateY(-0.4rem);
        height: 3.5rem;
        cursor: pointer;
    }

    &__links {
        display: flex;
        align-items: center;
        height: 100%;

        @include mediaQuery($phone-lg) {
            display: none;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 1rem 1.5rem;
            color: white;
            font-size: 2rem;
            font-family: "Cinzel", serif;
            letter-spacing: 1.5px;
            border-bottom: 2px solid transparent;

            transition: all 0.2s;

            &:link,
            &:active,
            &:hover,
            &:focus,
            &:visited {
                color: white;
                text-decoration: none;
            }

            &:hover {
                background-color: rgb(42, 42, 42);
                border-bottom: 2px solid white;
            }

            &--active {
                background-color: rgb(1, 1, 1);
                border-bottom: 2px solid white;
            }
        }
    }

    &__hamburger {
        display: none;

        @include mediaQuery($phone-lg) {
            display: inline-block;
            position: relative;
            width: 4.3rem;
            height: 2.8rem;
            cursor: pointer;

            span {
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: white;
                display: inline-block;

                transition: all 0.2s;
            }

            & span:nth-child(1) {
                top: 0;
            }

            & span:nth-child(2) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            & span:nth-child(3) {
                position: absolute;
                bottom: 0;
            }

            &--active {
                & span:nth-child(1) {
                    top: 50% !important;
                    transform: rotateZ(45deg);
                }

                & span:nth-child(2) {
                    display: none;
                }

                & span:nth-child(3) {
                    top: 50% !important;
                    transform: rotateZ(-45deg);
                }
            }
        }
    }
}
