$laptop-md: 81.25em; // 1300px
$laptop: 75em; // 1200px
$laptop-sm: 68.75em; // 1100px
$tablet-lg: 62.5em; // 1000px
$tablet-md: 56.25em; // 900px
$tablet: 50.25em; // 804px
$tablet-sm: 43.75em; // 700px
$phone-lg: 37.5em; // 600px
$phone-md: 31.5em; // 500px
$phone: 25em; // 400px
$phone-sm: 18.75em; // 300px

@mixin mediaQuery($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin heightMediaQuery($breakpoint) {
    @media (max-height: $breakpoint) {
        @content;
    }
}
